html {  justify-self: center;
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
background-image: url(https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000)
;

}

.form-group {
    
    background-color: transparent;
    width: 500px;
    height: 100%;
    text-shadow: 5px;
    background-repeat: no-repeat;
    background-size:cover ;
}

#root{
    background-color: transparent;
    display: flex;
    justify-content: center;
    
}
.form-group:hover
{ box-shadow: 2px 2px 4px rgb(170, 32, 91);
    transform: scale(1.02);
  
}
.App
{background-image: url(https://st.depositphotos.com/2143989/2630/v/450/depositphotos_26301339-stock-illustration-abstract-background.jpg);
    border: solid greenyellow;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;  
}
.App:hover
{box-shadow: rgb(170, 32, 91);
    transform: scale(1.05);  
}
